@page
@model noelwiz.gay.Pages.BlogPostsModel

@{
    ViewData["Title"] = "Blog Posts";
}

<h1>Blog Posts</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BlogPostList[0].PostTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogPostList[0].PostBody)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BlogPostList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostTitle)
            </td>
            <td>
                @Html.Raw(@item.FirstSentince)
            </td>
            <td>
                <a asp-page="./ViewPost" asp-route-id="@item.Id">Read More</a>
            </td>
        </tr>
}
    </tbody>
</table>
